body {
/* feel free to change height */
height: 3600px;
background: grey;
}


#map_svg_container{
position: relative;
z-index: 1;
left: 10%;
margin-top: 10%;
}

#map {
position: fixed;
z-index: 1;
height: auto;
width: 100%;
max-height: 400px;
max-width:  400px;
}

#svg_path{
z-index: 9;
position: fixed;
max-height:500px;
max-width: 500px;
}
