/* ---fonts ---- */
@font-face {
    font-family: greatvibes;
    src: url(assets/font/greatvibes/GreatVibes-Regular.otf);
}

@font-face {
    font-family: montserrat;
    src: url(assets/font/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: forum;
    src: url(assets/font/forum/Forum-Regular.otf);
}

@font-face {
    font-family: sofia;
    src: url(assets/font/sofia/Sofia-Regular.otf);
    font-weight: 100;
}

/* --- media division "mobile device"---- */

@media screen and (max-width: 600px), (-webkit-min-device-pixel-ratio: 2) {
    .font_glitter{
        margin: 0;
        font-family: greatvibes;
        font-size: 60px;
        color: rgba(250,250,250, .95);
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    }

    .untertitel{
        margin: 0;
        padding-top: 80px;
        font-family: forum;
        color: rgba(255, 255, 255, 0.95);
        font-size: 30px;
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    }

    .font_header_slides{
        font-family: greatvibes;
        font-size: 40px;
        overflow-wrap: break-word
    }

    a{
        font-family: forum;
        color: black;
        font-size: 18px;
        text-decoration: underline;
    }
    
    .text_slides{
        font-family: forum;
        color: black;
        font-size: 18px;
    }

    .untertitel_klein{
        margin: 0;
        padding-top: 30px;
        font-family: forum;
        color: rgba(255, 255, 255, 0.95);
        font-size: 20px;
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    }

    .outro_klein{
        margin: 0;
        font-family: forum;
        font-size: 20px;
        color: rgba(250,250,250, .95);
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    }

    .outro_gruss{
        margin: 0;
        font-family: greatvibes;
        font-size: 60px;
        color: rgba(230,230,230, .95);
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
        padding-top: 60px;
    }

    .arrow-down{
        font-size: 60px !important;
        color: rgba(0, 0, 0, 0.6) !important;
    }

    .overview-background-img {
        background: url(assets/start_couple.jpg) no-repeat center right fixed; 
        background-size: cover;
    }

    .dresscode-background-img {
        background: url(assets/hamburg.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    
    .end-background-img {
        background: url(assets/hands.jpg) no-repeat center center fixed;
        background-size: cover;
    }

  }
  
/* --------------------------------------------------------------------------------------------------------- */
/* --- media division "desktop"---- */

  @media screen and (min-width: 601px) {
    .font_glitter{
        margin: 0;
        font-family: greatvibes;
        font-size: 180px;
        color: rgba(250,250,250, .95);
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    }

    .untertitel{
        margin: 0;
        padding-top: 100px;
        font-family: forum;
        color: rgba(255, 255, 255, 0.95);
        font-size: 60px;
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    }

    .font_header_slides{
        font-family: greatvibes;
        font-size: 60px;
    }

    .text_slides{
        font-family: forum;
        color: black;
        font-size: 25px;
    }

    .untertitel_klein{
        margin: 0;
        padding-top: 100px;
        font-family: forum;
        color: rgba(255, 255, 255, 0.95);
        font-size: 40px;
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    }

    .outro_klein{
        margin: 0;
        font-family: forum;
        font-size: 80px;
        color: rgba(250,250,250, .95);
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    }

    .outro_gruss{
        margin: 0;
        font-family: greatvibes;
        font-size: 100px;
        color: rgba(230,230,230, .95);
        text-shadow: 0 0 6px rgba(0, 0, 0, .95);
    }

    .arrow-down{
        font-size: 100px !important;
        color: rgba(0, 0, 0, 0.6) !important;
    }

    .overview-background-img {
        background: url(assets/start_couple.jpg) no-repeat center center fixed; 
        background-size: cover;
    }

    .dresscode-background-img {
        background: url(assets/hamburg.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    
    .end-background-img {
        background: url(assets/hands.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    
  }

/* ################################################################################################# */


.frame_border {
    border-style: solid !important;
    border-color: #c9a51266 !important
}